* {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
}

.container__card1 {
    /*Deixar os itens flexiveis em suas posições*/
    display: flex;
    /*cor de fundo da div*/
    background-color: black;
    /*Distância entre os elementos filhos*/
    gap: 10px;
    /*altura do elemento*/
    height: 100px;
}

.box1 {
    /*Alinha o texto horizontalmente no centro*/
    text-align: center;
    color: white;
    background-color: blue;
    height: 40px;
    width: 60px;
}

.container__card2 {
    display: flex;
    background-color: white;
    height: 100px;
    justify-content: flex-end;
    gap: 10px;

}

.box2 {

    display: flex;
    justify-content: center;
    /*Alinha os itens verticamente no centro*/
    align-items: center;
    color: white;
    background-color: blue;
    height: 40px;
    width: 60px;
}

.container__card3 {
    /*Deixar os itens flexiveis em suas posições*/
    display: flex;
    /*Centraliza os elementos filhos*/
    justify-content: center;
    /*cor de fundo da div*/
    background-color: black;
    /*Distância entre os elementos filhos*/
    gap: 10px;
    /*altura do elemento*/
    height: 100px;
}

.box3 {
    color: white;
    background-color: blue;
    height: 40px;
    width: 60px;
}

.container__card4 {
    display: flex;
    justify-content: space-around;
    background-color: white;
    height: 100px;

}

.box4 {

    display: flex;
    justify-content: center;
    /*Alinha os itens verticamente no centro*/
    align-items: center;
    color: white;
    background-color: blue;
    height: 40px;
    width: 60px;
}

.container__card5 {
    /*Deixar os itens flexiveis em suas posições*/
    display: flex;
    /*Centraliza os elementos filhos*/
    justify-content: space-evenly;
    /*cor de fundo da div*/
    background-color: black;
    /*Distância entre os elementos filhos*/
    gap: 10px;
    /*altura do elemento*/
    height: 100px;
}

.box5 {
    color: white;
    background-color: blue;
    height: 40px;
    width: 60px;
}